#recuadro{
    border: 2px solid #ffffff; 
    padding: 10px; 
    margin-left: 150px; 
    margin-right: 150px;
    border-radius: 8px; 
    background-color: rgba(2, 2, 2, 0.7); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    
    
}
body{
    text-align: center;
    background-color: rgb(87, 84, 84);
}
#extendido{
    border: 2px solid #ffffff; 
    padding: 10px; 
    margin-left: 150px; 
    margin-right: 150px;
    border-radius: 8px; 
    background-color: rgba(2, 2, 2, 0.7); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    
    
}